<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Account
	link(href="http://code.ionicframework.com/1.3.2/css/ionic.min.css", rel="stylesheet")
	script(src="http://code.ionicframework.com/1.3.2/js/ionic.bundle.min.js")
	



body
	ion-content

		p Username: #{user.username}
		p Name: #{user.name}

